.how-it-works {
  padding: 60px 20px;
  background: white;
  text-align: center;
}

.steps {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.step-card {
  width: 250px;
  border-radius: 10px;
  background: #f1f8ff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.step-card h3 {
  color:  #19489f;
  margin-bottom: 10px;
}
