.navbar {
  background: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.nav-links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}
.nav-links a:hover {
  text-decoration: underline;
}
