/* Navbar styling */
.navbar {
  background-color: #004588; /* Deep blue */
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

/* Navigation links */
.nav-links {
   display: flex;
  align-items: center;
  gap: 25px;
  list-style: none; /* Removes bullet dots */
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: rgb(84, 172, 220); /* Gold hover */
}

/* Logout button */
.logout-btn {
  background-color: #ff4b4b;
  border: none;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #e33b3b;
}

/* Home content */
.home-content {
  background-color: #f7f9fc;
  text-align: center;
  padding: 50px 20px;
}

.home-content h2 {
  font-size: 32px;
  color: #003366;
  margin-bottom: 10px;
}

.home-content p {
  font-size: 18px;
  color: #444;
}

.dashboard-section {
  background-color: #f7f9fc;
  padding: 50px;
  text-align: center;
  margin: 40px auto;
  border-radius: 12px;
  width: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-section h2 {
  color: #0a3d62;
  margin-bottom: 15px;
  font-size: 28px;
}

.dashboard-section p {
  font-size: 18px;
  color: #333;
  margin-bottom: 25px;
}

.dashboard-btn {
  background-color: #004588;
  color: white;
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dashboard-btn:hover {
  background-color: #5245c6;
}
